    html {
        scroll-behavior: smooth;
    }
    /*I know scroll behavior is not supported in IE, but decided to include it for this page.*/
    
    body {
        font-family: Verdana, Geneva, sans-serif;
        color: rgb(35, 34, 36);
        background-color: rgba(107, 255, 235, 0.349);
    }
    
    h1 {
        font-variant: small-caps;
        color: black;
        text-align: center;
        padding-top: 50px;
    }
    
    h2 {
        font-variant: small-caps;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: row wrap;
    }
    
    p {
        word-break: keep-all;
        color: rgb(76, 73, 68);
        text-shadow: 0px 0px 1px rgb(35, 34, 36);
    }
    
    a[href] {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 60px;
        color: rgb(56, 43, 37);
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 3px rgb(146, 143, 143);
        text-decoration: none;
        border-radius: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #models-button {
        font-variant: small-caps;
        border-radius: 12px;
        width: 160px;
        height: 80px;
        background-image: url("images/Monsters-med.jpg");
        background-size: 160px 80px;
    }
    
    #features-button {
        font-variant: small-caps;
        border-radius: 12px;
        width: 160px;
        height: 80px;
        background-image: url("images/cthulhu-med.jpg");
        background-size: 160px 80px;
    }
    
    #specials-button {
        font-variant: small-caps;
        border-radius: 12px;
        width: 160px;
        height: 80px;
        background-image: url("images/Velvet-dogs-med.jpg");
        background-size: 160px 80px;
    }
    
    #para-intro-cont {
        float: left;
        background-color: rgba(233, 209, 70, 0.822);
        border-radius: 10px;
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
        box-shadow: 8px 8px 4px rgb(116, 114, 114);
        margin-top: 30px;
    }
    
    #bridge-box {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    
    #para-about-cont {
        float: right;
        background-color: rgba(209, 155, 75, 0.836);
        border-radius: 10px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 20px;
        padding-bottom: 30px;
        box-shadow: 8px 8px 4px rgb(116, 114, 114);
    }
    
    #beast-box {
        float: right;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px
    }
    
    #para-extras-cont {
        float: left;
        background-color: rgba(255, 160, 52, 0.863);
        border-radius: 10px;
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
        box-shadow: 8px 8px 4px rgb(116, 114, 114);
    }
    
    #hope-med {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    
    .photo-flavor {
        border-radius: 15px;
        width: 500px;
        height: 340px;
        box-shadow: 4px 4px 2px rgb(35, 34, 36);
    }
    
    .contact-info {
        margin: 20px;
        padding: 200px;
    }
    
    footer {
        font-size: 10px;
        padding-top: 10px;
    }